# Rstudio files
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# Large reference files
*.fa
*.fa.gz
*.gtf
*.gtf.gz
*.fastq
*.fastq.gz
*.sra
# Ignore STAR index files
~/ad_transcriptomics_dge/references/STAR_index
# Ignore nohup.out
nohup.out
/references/
