# Rstudio files
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# Large reference files
*.fa
*.fa.gz
*.gtf
*.gtf.gz
*.fastq
*.fastq.gz
*.sra
GSE138852_counts.csv
# Ignore nohup.out
nohup.out
# Ignore several folders
/references/
/analyses/
/fastqc/

seurat/filtered_gene_bc_matrices/
